<table class="table">
	<tr>
      <th  *ngFor="let element of data[0]">
          {{ element.title }} 
      </th>
    </tr>
    <tr> 
        <th  *ngFor="let element of data[0]">
            {{ element.values[0].value }} 
        </th>  
    </tr>
</table>


