<div *ngIf="bind">
        <small> Post interactions <span style="color: red"> ({{ data[2].values[0].value.like + data[2].values[0].value.like + data[2].values[0].value.wow  + data[2].values[0].value.haha + data[2].values[0].value.sorry + data[2].values[0].value.anger}}) </span> </small>
        <small> {{ data[1].title}} <span style="color: red"> ({{ data[1].values[0].value }}) </span> </small>
        <small> {{data[0].title}}<span style="color: red"> ({{ data[0].values[0].value }}) </span></small>
        <small> {{data[3].title}} <span style="color: red"> ({{ data[3].values[0].value }}) </span></small>
</div>