<div class="content" style="margin-left:auto; margin-right: auto; max-width:90%">


    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0"> Your pages </h6> <br>

        <div class="row">

            <div class="col-md-3" *ngFor="let page of _pages">
                <div class="card mb-3 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ page.picture.data.url}}"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="details/{{page.id}}">{{page.name}} </a>

                        </p>
                        <hr>
                        <small> {{ page.category }} </small>

                    </div>
                </div>
            </div>
        </div>
    </div>