
<div class="container" *ngIf="latestPosts!=null && token!=null">
  <chart-page></chart-page>

  <div>
    <input checked [(ngModel)]="type"  (change)="bindData()" type="radio" name="type" value="photo"> Photo
    <input [(ngModel)]="type" (change)="bindData()" type="radio" name="type" value="video"> Video
    <input [(ngModel)]="type" (change)="bindData()" type="radio" name="type" value="link"> Link
  </div>
  <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
  <!-- Photos -->
  <div *ngIf="type=='photo'">
    <div *ngFor="let post of latestPosts[0]" class="my-3 p-3 bg-white rounded box-shadow">
      <div *ngIf="post.picture !=null" class="media text-muted pt-3">
        <img data-src="{{post.picture}}" alt="32x32" class="mr-2 rounded" style="width: 64px; height: 64px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161d26dfdfc%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161d26dfdfc%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.84375%22%20y%3D%2216.95625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong *ngIf="post.admin_creator!=null" class="d-block text-gray-dark">
            <a target="__blank" href="https://fb.com/{{post.admin_creator.id}}">{{ post.admin_creator.name }}</a>
          </strong>
          {{ post.message }}  <br>
          <app-postinsight [postId]="post.id"></app-postinsight>
          <a href="#" (click)="open($event, content, post)" style="color:red; float:right;"> Reschedule post </a>
          <br>
        </p>


      </div>
    </div>
  </div>
  <!-- Videos -->
  <div *ngIf="type=='video'">
    <div *ngFor="let post of latestPosts[0]" class="my-3 p-3 bg-white rounded box-shadow">
      <div *ngIf="post.thumbnails !=null" class="media text-muted pt-3">
        <img data-src="{{ post.thumbnails.data[0].uri }}" alt="32x32" class="mr-2 rounded" style="width: 64px; height: 64px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161d26dfdfc%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161d26dfdfc%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.84375%22%20y%3D%2216.95625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong *ngIf="post.admin_creator!=null" class="d-block text-gray-dark">
            <a target="__blank" href="#"> test </a>
          </strong>
          {{ post.description }}<br>
          
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="type=='link'">
      <div *ngFor="let post of latestPosts[0]" class="my-3 p-3 bg-white rounded box-shadow">
        <div *ngIf="post.thumbnails !=null" class="media text-muted pt-3">
          <img data-src="{{ post.link }}" alt="32x32" class="mr-2 rounded" style="width: 64px; height: 64px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161d26dfdfc%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161d26dfdfc%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.84375%22%20y%3D%2216.95625%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            data-holder-rendered="true">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong *ngIf="post.admin_creator!=null" class="d-block text-gray-dark">
              <a target="__blank" href="#"> test </a>
            </strong>
            {{ post.description }} <br>
            <app-postinsight [postId]="post.id"></app-postinsight>
          </p>
        </div>
      </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h6 class="modal-title">Choose the repost date</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="message"> Post message (optional) </label>  
        <textarea id="message" [(ngModel)]="rescheduleMessage" class="form-control" style="margin-bottom:1rem" placeholder="message (optional)"> </textarea> 
        <ngb-datepicker #dp [(ngModel)]="rescheduleDate" (navigate)="date = $event.next" [displayMonths]="2"></ngb-datepicker>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('validate')">Valider</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>

</div>
