<div class="d-flex flex-column flex-md-row align-items-center p-3 pt-md-6 px-md-4 main">
    <a  [routerLink]="['/']" class="my-0 mr-md-auto font-weight-normal">
        <img src="../../assets/images/digitalden-logo.png" width="80%" alt="digitalden-logo">
    </a>
    <nav class="my-2 my-md-0 mr-md-3 ">
      <a class="p-2 text-white"  target="_blank" href="http://cyanbmag.com" >Blog</a>
      <a class="p-2 text-white" target="_blank" >About</a>
      <a class="p-2 text-white" [routerLink]="['/review-offers']">Job offers</a>
    </nav>
    <a *ngIf="!isLoggedIn" class="btn text-white border-white btn-outline-white" [routerLink]="['/signup']">Sign up</a>
    <a *ngIf="isLoggedIn" class="btn text-white border-white btn-outline-white" (click)="logout()" >Logout</a>
  </div>
  <router-outlet></router-outlet>
