<section class="row" style="height:90vh">
  <div class="col-2" style="margin-right:5px;box-shadow: 2px 4px 3px rgba(0,0,0,0.1);">
    <div *ngIf="publicProfile != null">
      <h6 style="text-align: center"> {{ publicProfile.name }} </h6>
      <img style="width:15vh;display:block;margin-left:auto;margin-right:auto" src="{{publicProfile.picture.data.url}}">
      <hr style="width:30%; margin-left:auto; margin-right:auto">
      <small> Number of likes : {{publicProfile.fan_count | number}} </small>
    </div>
    <div *ngIf="pageRoles != null">
      <div *ngFor="let admin of pageRoles.data">
        <img alt="32x32" class="mr-2 rounded" data-holder-rendered="true" data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1"
          style="width: 32px; height: 32px;display: inline;margin: 2px" src="{{admin.picture.data.url}}"> <small class="d-block text-gray-dark"> {{admin.name}}</small>
    </div>

  </div>
  </div>
  <div class="col-9" style="box-shadow: 2px 4px 3px rgba(0,0,0,0.1);margin-left:auto;margin-right:auto">


    <label for="metrics"> Choose a metric </label>
    <select class="form-control" id="metrics">
      <option value="page_impressions"> Page impressions </option>
      <option> Metric 2 </option>
      <option> Metric 3 </option>
    </select>
    <br>
    <form (submit)="update()" class="form-inline">
      <ngbd-modal-options [id]="1" (sendDateRange)="getDate($event)"></ngbd-modal-options>



      <ng-container>
        <ngbd-modal-options [id]="2" (sendDateRange)="getDate($event)"></ngbd-modal-options>
      </ng-container>

    </form>
    <input [(ngModel)]="compare" type="checkbox" name="compare"> Compare to other period !

    <hr>
    <div *ngIf="pageToken!=null" style="display: block;">
      <canvas *ngIf="updateChart" baseChart width="800" height="400" [datasets]="Chart.lineChartData" [labels]="Chart.lineChartLabels"
        [options]="Chart.lineChartOptions" [colors]="Chart.lineChartColors" [legend]="Chart.lineChartLegend" [chartType]="Chart.lineChartType"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>

  </div>

</section>